*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}

nav{
    background-color: #0f1111;
    height: 60px;
    padding-top: 5px;
}
#name1{
    color:chocolate;
    font-size: 25px;
}
#name2 #name3 #name4{
    color: antiquewhite;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
#button{
    width: 90px;
    background-color: #f08804;
}